.renderCityBox{
  display: inline-block;
  margin: 3% 0 0 3%;
  border: 5px solid black;
  border-radius: 15px;
  height:200px;
  width:300px;
}

.removeButton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}

.padding-bottom-1{
  padding-bottom: 1%;
}