.renderCityBox{
  display: inline-block;
  margin: 3% 0 0 3%;
  border: 5px solid black;
  border-radius: 15px;
  height:300px;
  width:300px;
}

.renderCityBoxFavorite{
  display: inline-block;
  margin: 3% 0 0 3%;
  border: 5px solid black;
  border-radius: 15px;
  height:250px;
  width:300px;
}

.removeButton{
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-left:calc(100% - 40px);
  margin-top:5px;
}

.favoriteButton{
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-left:calc(100% - 40px);
  margin-top:10px;
}

.cityTitle{
  padding:0 0 15px 0;
  font-size: xx-large;
}

.padding-bottom-5{
  padding-bottom: 5%;
}

.padding-bottom-1{
  padding-bottom: 1%;
}

.padding-top-3{
  padding-top: 3%;
}

ul{
  padding-inline-start: 0;
}