
/*--------------------------------- Removing lateral scroll on mobile ---------------------------------*/

html, body {
    overflow-x: hidden;
    font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","SF Pro","SF Pro Icons",
    "Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  
body {
  color:white;
  height:100vh;
  text-align: center;
  position: relative;
  background: linear-gradient(110deg, rgb(134, 85, 29) 60%, orange 60%);
  backdrop-filter: blur(15px);
  }