
/*--------------------------------- Removing lateral scroll on mobile ---------------------------------*/

html, body {
    overflow-x: hidden;
  }

  
body {
  color:white;
  height:100vh;
  text-align: center;
  position: relative;
  backdrop-filter: blur(15px);
  }

.light-theme {
  background: linear-gradient(110deg, rgb(190, 121, 42) 60%, orange 60%);
}
  
.dark-theme {
  background: linear-gradient(110deg, rgb(4, 0, 39) 60%, rgb(5, 0, 70) 60%);
}

.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 34px;
  border: none;
  background-color: white;
  border-radius: 17px;
  padding: 2px;
  cursor: pointer;
}
  
.theme-toggle:focus {
  outline: none;
}
  
.theme-toggle-thumb {
  display: block;
  width: 30px;
  height: 30px;
  background-color: orange;
  border-radius: 50%;
  transition: transform 0.3s;
}
  
.theme-toggle-thumb.dark {
  transform: translateX(26px);
  background-color: rgb(7, 7, 107);
  }