
/*--------------------------------- Removing lateral scroll on mobile ---------------------------------*/

html, body {
    overflow-x: hidden;
  }

  
body {
  color:black;
  height:100vh;
  text-align: center;
  position: relative;
  backdrop-filter: blur(45px);
  }

.light-theme {
  color:black;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 44%, rgba(172,222,232,1) 100%);
}
  
.dark-theme {
  color:white;
  background: rgb(4,0,36); background: linear-gradient(90deg, rgba(4,0,36,1) 0%, rgba(17,17,48,1) 40%, rgb(59, 70, 114) 100%);
}

.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 34px;
  border: none;
  background-color: white;
  border-radius: 17px;
  padding: 2px;
  cursor: pointer;
}
  
.theme-toggle:focus {
  outline: none;
}
  
.theme-toggle-thumb {
  display: block;
  width: 30px;
  height: 30px;
  background-color: rgb(73, 255, 246);
  border-radius: 50%;
  transition: transform 0.3s;
}
  
.theme-toggle-thumb.dark {
  transform: translateX(26px);
  background-color: rgb(7, 7, 107);
  }